.header {
  width:50%;
  height:50%;
  position:relative;
  display:flex;
  flex: 1 2 300px;
}

.buttons{
    /* width:200px;
    height:70px;
    display:inline;                 
    float:left; */
}

.nav{
    /* height: 300px;
    width: 600px; */
}
image{
    height:69px;
    width:240px;
    /* background: url('../Images/image-1\ 1.jpg'); */
    background-repeat: no-repeat;
    position:absolute;
    /* left: 69px;
    top: 67px; */
}

