.app{

}

.boxes{
  position: relative;
  width:700px;
  height:700px;
  background-color:black;
}

.box{
  height: 100px;
  width: 100px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2{
  position: absolute;
  right: 0;
  top:0;
}

.box-3{
  position: absolute;
  bottom: 0;
}

.box-4{
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid-4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.activeMenu{
  border: 3px solid black;
}